<div class="jumbotron hero hero-first">
  <h1 class="hero-title">Seasonal Passion</h1>
  <p><a class="btn btn-primary btn-lg hero-button" role="button" href="#">Shop now</a></p>
</div>
<section id="description">
  <p class="lead"><strong>CarosaBike</strong> is&nbsp;a the best place for finding the right bike for your &nbsp;<em>work</em> and <em>pleasure</em> trips&nbsp;either you are <em>man</em> or&nbsp;<em>woman</em>. </p>
</section>
<div class="jumbotron hero hero-second">
  <h1 class="hero-title">Bikes for everybody</h1>
  <p><a class="btn btn-primary btn-lg hero-button" role="button" href="#">Shop now</a></p>
</div>
