$("#comment-errors")
  .append("<div class='alert alert-danger errors'> \
            <button class='close' data-dismiss='alert'>&times;</button>  \
            Comment cannot be blank and rating should be selected. \
          </div>");