
<div class="container anchor">
  <%= link_to '< Back', profile_path %>

  <h1>Personal Info</h1>

  <%= render 'form' %>

  <div class="container-links">
    <%= link_to 'Show', @user %>
  </div>
</div>





