
<div class="jumbotron hero hero-about">
  <h1 class="hero-title">About</h1>
</div>

<section class="about-section container">
  <div class="row">
    <div class="about-content col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
      <h3>
        <strong>CarosaBikes</strong> is a brand of second-hand bikes.
      </h3>
      <p>
        We use culture and design to connect the best of traditional and modern, local and international, socially-minded and environmentally conscious.
      </p>
      <h3>
        Globally used, locally sold.
      </h3>
      <p>
        We source the finest second-hand bikes around the world and sell them online globally in the heart of the world big cities.
      </p>
      <h3>
        Trustfully purchase, fast sell.
      </h3>
      <p>
        We use minimal cost and exceptional transport to highlight unique sell process. We work with low minimum suppliers, which allows us to ship in small batches, keeping precious customer much happier.
      </p>
    </div>
  </div>
</section>

