<div class="container">
  <div class="row">
    <div class="contact-section col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
      <h3>Contact</h3>
      <h4>EMAIL</h4>
      <p>hello@carosabikes.com</p>
      <h4>PHONE</h4>
      <p>+412 345 6789</p>
      <p>Monday – Friday, 9am – 5pm GMT</p>
    </div>
  </div>  
</div>
