<div class="jumbotron hero hero-first">
  <h1 class="hero-title">Seasonal Passion</h1>
  <p><%= link_to 'Shop now', products_path, class: "btn btn-primary btn-lg hero-button", role: "button" %></p>
</div>
<section class="box-text">
  <p class="lead"><strong>CarosaBikes</strong> is the best place for finding the right bike for your <em>work</em> and <em>pleasure</em> trips either you are <em>man</em> or <em>woman</em>. </p>
</section>
<div class="jumbotron hero hero-second">
  <h1 class="hero-title">Bikes for everybody</h1>
  <p><%= link_to 'Shop now', products_path, class: "btn btn-primary btn-lg hero-button",role: "button" %></p>
</div>
