
<div class="container anchor">
  <div class="alert alert-info">
    Thank you. We have received your message and will respond as soon as possible.
  </div>
  <%= link_to 'Home', root_path %> |
  <%= link_to 'Shop', products_path %>
</div>
