// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: darkblue;
$secondary-color: white;

.pagination {
  margin-left: 20px;

  a, span, em {
    border: 1px solid $primary-color;
    padding: 7px;
    margin-left: 2px;
  }
  
  .current{
    color: $secondary-color;
    background: $primary-color;
  }
}