// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'share';

$primary-color: #fff;             // white 
$secondary-color: #292c2f;
$text-color: rgba(0, 0, 0, 0.85);
$max-width: 600px;

@mixin darken-anchor {
  color:  darken( $primary-color, 5% );
  text-decoration: none;
}

@mixin text-shadow-style($top, $right, $bottom, $left, $color, $opacity) {
  text-shadow: $top $right $bottom $left rgba($color, $opacity);
  // text-shadow: 0 2px 2px 0 rgba(#000 ,0.3);
} 

@mixin font-weight-style($num) {
  font-weight: $num;
}

@mixin bgd-image($image, $vertical, $horizontal, $top, $right, $bottom, $left) {
  background: $image $vertical $horizontal;
  padding: $top $right $bottom $left;
}


.center {
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

.anchor-top {
  margin-top: 3em;
}

.anchor-top-bottom-rate {
  @include anchor-top-bottom(.9em, .9em);
}

.navbar {
  margin-bottom: 0;
  background: $primary-color;
}

.box-text {
  @extend .center;
  padding: 14% 0;
  max-width: $max-width;
  color: $text-color;
  
  p {
    text-align: center;
    margin: 80px auto;
    color: $text-color;
  }
}

.alert-responses {
  //max-width: 600px; 
  //margin: 20px auto;
  border: none;
  border-radius: 0px;
  margin: 0;
  text-align: center;
}


/*****************************************************/
/*             Header navigation style               */
/*****************************************************/ 

#search-form {
  text-align: center;

  @media screen and (max-width: 768px) {
    text-align: left;
  }

  .form-control {
    display: inline-block;
  }
}

input.searchInput.form-control {
  width: 164px;
  transition: all .8s;
}

input.searchInput:focus {
  width: 242px;
}




/*****************************************************/
/*                   Footer style                    */
/*****************************************************/ 

footer {
  @extend .center;
  width: 100%;
  background-color: $secondary-color;
  font: bold 16px sans-serif;
  padding: 50px 50px;
  color: $primary-color;
  height: 160px;
  
  .social-buttons {
    display: block;
    padding-right: 30px;
    float: right;
    
    a:hover {
      @include darken-anchor;
    }

    .social-button {
      font-size: 24px;
      padding: 0 8px;
    }
  }

  #copyright {
    @include font-weight-style(500);
    letter-spacing: .05em;
    padding-top: 40px;
    text-align: center;
    clear: both;
  }
}

ul.footer-navbar {
  @extend .center;
  
  li {
    display: inline-block;
    float: left;
    text-decoration: none;
    margin-right: 1.2em;
  }

  a {
    @include font-weight-style(500);
    text-transform: uppercase;
    color: $primary-color;

    &:hover {
      @include darken-anchor;
      color: darken($primary-color, 25%);
    }
  }
}
 
@media screen and (max-width: 480px) {
  footer {
    min-height: 200px;

    .social-buttons {
      margin: 0 auto; 
      padding: 20px 10px 20px 0;
      font-size: 28px;
      float: none;
      clear: both;
      text-align: center;
    }

    #copyright {
      padding: 20px;
    }
  }
}


/*****************************************************/
/*                 Carousel style                    */
/*****************************************************/ 

@media screen and (min-width: 480px) {
  .carousel-caption {
    top: 40%;
  }
}

.carousel-image {
  width: 100%;
}


/*****************************************************/
/*                  Jumbotron style                  */
/*****************************************************/                
div.hero {
  color: $primary-color;
  background-size: cover;
  margin-bottom: 0;
  text-align: center;
  
  h1 {
    @include text-shadow-style(0, 2px, 2px, 0, #000, 0.3);
    color: $primary-color;
    @include font-weight-style(600);
    letter-spacing: .01em;
  }

  p {
    max-width: $max-width;
    margin: 25px auto;
    padding: 10px 15px;
    color: $primary-color;
    @include text-shadow-style(0, 1px, 1px, 0, #000, 0.7);
    @include font-weight-style(500);
  }

  a.btn {
    border: 0;
    border-radius: 0;
    background: $primary-color;
    font-size: 18px;
    color: $text-color;
    letter-spacing: 0.02em;
    
    &:hover {
      @include darken-anchor;
      color: darken( $primary-color, 60% );
    }
    &:active:focus {
      background: $primary-color;
    }
  }
}

.hero-first {
  @include bgd-image(image-url('bike4.jpg'), bottom, right, 16%, 0, 16%, 0);
}

.hero-second {
  @include bgd-image(image-url('bike2.jpg'), center, center, 16%, 0, 16%, 0);
}

.hero-about {
  @include bgd-image(image-url('bike5.jpg'), center, center, 24%, 0, 24%, 0);
}


/***************************************************/
/*                  About page                     */
/***************************************************/

.about-content {

  h3 {
    text-align: center;
    line-height: 1.3em;
    padding: 50px 0;
  } 

  p:last-child {
    padding-bottom: 50px;
  }
}

/***************************************************/
/*                Contact page                     */
/***************************************************/

.hero-contact-us {
  @include bgd-image(image-url('bike_and_building.jpg'), bottom, center, 1%, 0, 6%, 0);
  border-radius: 0;
}

textarea.form-control {
  // increase rows
  height: 6em;
}

.contact-section {
  max-width: 400px;
  padding-top: 5%;
  padding-bottom: 10%;

  & input {
    max-width: 280px;
  }

  h4 {
    line-height: 30px;
    padding-top: 40px;
    font-size: 12px;
  }

  p {
    font-size: 18px;
    line-height: 1.5em;
  }
}


