// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
  width: 100%;
}

.anchor {
  padding: 3em 1em 5em 1em;
}

.item:nth-child(3n+1) {
  clear: left;
}

.btn-submit {
  padding: 5px 0 0 5px;
}

.thumbnail {
  margin: 0 auto 20px;
  max-width: 600px; 
}
