// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  padding: 1.2em 0 0.9em
}

.profile-container {
  margin: 5em auto;
  width: 600px;
  
  img {
    margin: 3em 0 0 0; 
    width: 120px;
  }
}

@media screen and (max-width: 769px) {
  .profile-container {
    width: 300px;
    img {
      margin: auto;
    }
  }    
}
