<div class="new-comment-box">
<% if signed_in? %>
  <%= form_for([@product, @product.comments.build], :html => {:class => "form-horizontal"}) do |f| %>
    <h4 class="new-comment-header">Add a review:</h4>
    <div class="col-md-12">
      <%= f.label :body, "Comments" %>
    </div>
    <div class="col-md-12">
        <%= f.text_area :body, class: "form-control" %>
    </div>
    <div class="rating col-md-12 anchor-top-bottom">Rate: </div>
    <div class="col-md-12">
      <%= f.submit "Submit", class: "btn btn-default" %>
    </div>
  <% end %>
<% end %> 
</div>
